@use '../variables' as var;

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

.wrapper {
  gap: 1.7rem;
  width: 100%;
  display: flex;
  max-width: 61rem;
  margin-right: 2rem;
}

.feedWrapper {
  width: 100%;
  min-height: 500vh;
  max-width: 37.5rem;
  min-width: 37.5rem;
  position: relative;
  border-left: 1px solid var.$white-transparent;
  border-right: 1px solid var.$white-transparent;
  border-bottom: 1px solid var.$white-transparent;
}

.sideWrapper {
  width: 90%;
  display: flex;
  min-width: 21.9rem;
  max-width: 21.9rem;
  align-items: center;
  flex-direction: column;
}

@media (max-width: '1115px') {
  .sideWrapper {
    min-width: 18.1rem;
    max-width: 18.1rem;
  }
}

@media (max-width: '1050px') {
  .feedWrapper {
    min-width: unset;
  }
}

@media (max-width: '1020px') {
  .sideWrapper {
    display: none;
  }

  .wrapper {
    max-width: 37.5rem;
    margin-right: unset;
  }
}

@media (max-width: '376px') {
  .container {
    overflow-x: hidden;
  }
}
