@use '../../variables' as var;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.backgroundButton {
  width: 100%;
  border: none;
  height: 12.5rem;
  cursor: pointer;
  position: relative;
  background-color: var.$drk-grey;
}

.profileBackground {
  object-fit: cover;
}

.wrapper {
  width: 95%;
  height: auto;
  margin-top: 1rem;
  position: relative;
}

.profileImageWrapper {
  display: flex;
  height: 4.4rem;
  align-items: flex-start;
  justify-content: space-between;
}

.profileImageButton {
  top: -5rem;
  width: 8.2rem;
  height: 8.2rem;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  background-color: var.$drk-grey;
  border: 0.25rem solid var.$black;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
}

.profileImageWrapper .button:last-child {
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
  color: var.$black;
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  font-size: var.$sm-text;
  background-color: var.$white;
  transition: background-color 0.2s;
}

.profileImageWrapper .button:last-child:hover {
  background-color: var.$lgt-grey-active;
}

.name {
  width: 100%;
  display: flex;
  font-weight: 700;
  color: var.$white;
  align-items: center;
  font-size: var.$bg-text;
}

.name .button {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 0.2rem;
  background-color: transparent;
}

.button .logo {
  width: 1.25rem;
  height: 1.25rem;
  filter: var.$white-filter;
}

.username {
  width: 100%;
  opacity: 0.6;
  display: flex;
  font-weight: 300;
  margin-bottom: 1rem;
  align-items: center;
  font-size: var.$sm-text;
  color: var.$greyish-white;
}

.message {
  width: 100%;
  color: var.$white;
  font-size: var.$sm-text;
}

.profileDetailsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
  margin-top: 0.8rem;
}

.detail {
  display: flex;
  align-items: center;
}

.detail .logo {
  opacity: 0.6;
  width: 1.15rem;
  height: 1.15rem;
  margin-right: 0.3rem;
  filter: var.$greyish-white-filter;
}

.detail .text {
  opacity: 0.6;
  font-size: var.$sm-text;
  color: var.$greyish-white;
}

.profileFollowersWrapper {
  width: 100%;
  margin-top: 0.6rem;
}

.profileFollowersWrapper .wrapper {
  font-weight: 600;
  color: var.$white;
  margin-right: 1.2rem;
  font-size: var.$sm-text;
}

.profileFollowersWrapper .text {
  font-weight: 300;
  font-size: var.$sm-text;
  color: var.$greyish-white;
}
