@use '../../variables' as var;

.container {
  width: 100%;
  padding: 0 1.2rem;
  background-color: transparent;
  border-bottom: 1px solid var.$white-transparent;
}

.headingWrapper {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5rem 0 1.2rem;
  justify-content: space-between;
}

.heading {
  font-weight: 600;
  color: var.$white;
  font-size: var.$sm-heading;
}

.button {
  border: none;
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.headingWrapper .button {
  top: 0.5rem;
  right: -0.5rem;
  position: absolute;
}

.headingWrapper .button:hover {
  background-color: var.$lgt-grey-hover-transparent;
}

.logo {
  width: 1.2rem;
  height: 1.2rem;
}

.headingWrapper .logo {
  filter: var.$white-filter;
}

.wrapper {
  width: 100%;
  display: flex;
}

.profilePicture {
  border-radius: 50%;
  margin-right: 0.6rem;
}

.tweetWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  width: 97%;
  resize: none;
  border: none;
  outline: none;
  margin-top: 0.8rem;
  overflow-y: hidden;
  margin-left: 0.4rem;
  color: var.$greyish-white;
  font-size: var.$sm-heading;
  background-color: transparent;
  transition: padding-bottom 0.2s;
}

.inputBorder {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var.$white-transparent;
}

.input::-webkit-input-placeholder {
  color: var.$grey-fnt;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding: 0.6rem 0 0.8rem;
}

.buttonWrapper .button:hover {
  background-color: var.$blue-hover-transparent;
}

.buttonWrapper .button:nth-child(6) {
  opacity: 0.6;
  pointer-events: none;
}

.buttonWrapper .logo {
  width: 1.3rem;
  height: 1.3rem;
  filter: var.$blue-filter;
}

.counterWrapper {
  gap: 1rem;
  display: flex;
  min-width: 11rem;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.counterDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterBar {
  width: 1px;
  height: 2.2rem;
  margin: 0 0.8rem;
  background-color: var.$white-transparent;
}

.addButton {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var.$grey-border;
}

.addButton:hover {
  background-color: var.$blue-hover-transparent;
}

.counterWrapper .logo {
  width: 1rem;
  height: 1rem;
}

.tweetButton {
  font-weight: 600;
  color: var.$white;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  font-size: var.$sm-text;
  background-color: var.$lgt-blue;
}

@media (max-width: '720px') {
  .tweetWrapper .button:nth-child(3),
  .tweetWrapper .button:nth-child(5) {
    display: none;
  }
}

@media (max-width: '500px') {
  .buttonWrapper {
    gap: 0.6rem 0;
    flex-wrap: wrap;
  }
}

@media (max-width: '400px') {
  .counterWrapper {
    margin-left: unset;
    justify-content: flex-start;
  }
}
