@use '../../variables' as var;

.container {
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  width: 37.5rem;
  height: 40.5rem;
  color: var.$white;
  position: absolute;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  background-color: var.$black;
  justify-content: space-around;
  transform: translate(-50%, -50%);
}

.button {
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  width: 2.65rem;
  height: 2.65rem;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: 0.2s background-color;
}

.button:hover {
  background-color: var.$drk-grey-hover;
}

.button:active {
  background-color: var.$drk-grey-active;
}

.closeSVG {
  width: 1.4rem;
  height: 1.4rem;
  filter: var.$white-filter;
}

.logo {
  width: 6.4rem;
  height: 6.4rem;
  margin-top: 1rem;
  filter: var.$white-filter;
}

.heading {
  font-weight: 700;
  font-size: var.$md-heading;
}

@media (max-width: 1000px) {
  .container {
    gap: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-bottom: 3rem;
    justify-content: center;
  }
}
