@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//Fonts
$open-sans: 'Open Sans', sans-serif;

//Heading Font Sizes
$bg-heading: 4rem;
$md-heading: 2rem;
$sm-heading: 1.3rem;

//Text Font Sizes
$md-text: 1rem;
$bg-text: 1.1rem;
$sm-text: 0.9rem;
$xsm-text: 0.8rem;

//Special Font Sizes
$tiny-text: 0.7rem;
$profile-heading-text: 1.12rem;

//Media Query Font Sizes
$bg-heading-media: 2.5rem;
$md-heading-media: 1.6rem;
